<div
  class="modal fade"
  id="settingsModal"
  tabindex="-1"
  aria-labelledby="demoLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="demoLabel">Table settings</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Fermer"
        ></button>
      </div>
      <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <label class="form-label">Visible columns</label>

          <div class="form-check form-switch" *ngFor="let header of headers">
            <input
              class="form-check-input"
              type="checkbox"
              id="sw1"
              [formControlName]="header.name"
            />
            <label class="form-check-label" [for]="header.name">
              {{ header.label }}
            </label>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
            Apply
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
