<div
  class="modal fade"
  id="settingsModal"
  tabindex="-1"
  aria-labelledby="demoLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="demoLabel">Columns visibility</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Fermer"
        ></button>
      </div>
      <form [formGroup]="visibleColumnForm">
        <div class="modal-body">
          <div
            *ngFor="let header of headers; let i = index"
            class="d-flex align-items-center"
          >
            <div class="form-check form-switch check-box-option">
              <input
                class="form-check-input big-check"
                type="checkbox"
                [formControlName]="header.name"
              />
            </div>
            <div class="check-box-label">
              <img
                ngOptimizedImage
                class="header-icon"
                [src]="header.icon | headerIconSrc"
              />
              <span>
                {{ header.label }}
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
