<div
  class="modal fade"
  id="settingsModal"
  tabindex="-1"
  aria-labelledby="demoLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="demoLabel">Columns visibility</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Fermer"
        ></button>
      </div>
      <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div
            *ngFor="let header of headers; let i = index"
            class="d-flex align-items-center"
          >
            <div class="check-box-label">
              {{ header.label }}
            </div>
            <div class="form-check form-switch check-box-option">
              <input
                class="form-check-input big-check"
                type="checkbox"
                [formControlName]="header.name"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
            Apply
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
