.big-check {
  transform: scale(1.5);
  margin-right: 15px;
}

.check-box-option {
  margin: 10px 0 10px 10px;
}

img {
  height: 1.6em;
  width: 1.6em;
  cursor: pointer;
}

.two-options {
  img:first-child {
    margin-right: 15px;
  }
  img:last-child {
    margin-left: 15px;
  }
}
