.big-check {
  transform: scale(1.5);
  margin-right: 15px;
}

.check-box-label {
  display: inline-block;
  width: 60px;
}

.check-box-option {
  display: inline-block;
  margin: 10px 0 10px 10px;
}

.modal-dialog {
  max-width: calc(var(--bs-modal-width) / 2);
}
