html,
body {
  height: 100%;
  margin: 0;
}

.layout {
  display: flex;
  transition: all 0.5s ease;

  .table {
    flex: 1 1 100%;
    padding: 50px 30px 0 50px;
    transition: flex 0.5s ease;
  }

  .detail {
    width: 0;
    overflow: hidden;
    padding-top: 50px;
    opacity: 0;
    transition: width 0.5s ease, opacity 0.5s ease;

    div {
      border-left: 2px solid var(--table-header);
      padding: 0 20px;
      height: 100%;
    }
  }

  &.two-columns {
    .table {
      flex: 0 0 66.66%;
    }

    .detail {
      width: 33.33%;
      opacity: 1;
    }
  }
}
