html,
body {
  height: 100%;
  margin: 0;
}
.layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.container:first-child {
  padding: 50px 20px 0 50px;
}
.container:last-child {
  padding: 50px 20px 0 20px;
}
