<div class="flex">
  <div class="results-info">
    <p>
      {{ resultsOnPage }} of {{ dataLength }} result{{
        dataLength !== 1 ? "s" : ""
      }}
      ({{ totalPages }} page{{ totalPages !== 1 ? "s" : "" }})
    </p>
  </div>

  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button class="page-link" (click)="onChangePage(1)">
          <img ngOptimizedImage src="assets/icons/chevron-double-left.svg" />
        </button>
      </li>
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button class="page-link" (click)="onChangePage(currentPage - 1)">
          <img ngOptimizedImage src="assets/icons/chevron-left.svg" />
        </button>
      </li>

      <li class="page-item active">
        <button class="page-link">
          {{ currentPage }}
        </button>
      </li>

      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button class="page-link" (click)="onChangePage(currentPage + 1)">
          <img ngOptimizedImage src="assets/icons/chevron-right.svg" />
        </button>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button class="page-link" (click)="onChangePage(totalPages)">
          <img ngOptimizedImage src="assets/icons/chevron-double-right.svg" />
        </button>
      </li>
    </ul>
  </nav>

  <div class="item-per-page">
    <div class="box">
      <form [formGroup]="pageLimitForm">
        <select class="form-select" formControlName="pageLimit">
          <option *ngFor="let p of pageLimits" [value]="p">
            {{ p }}
          </option>
        </select>
      </form>
    </div>
    <div class="box">
      <p>lines per page.</p>
    </div>
  </div>
</div>
