<nav>
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <button class="page-link" (click)="onChangePage(currentPage - 1)">
        Précédent
      </button>
    </li>

    <li
      class="page-item"
      *ngFor="let page of [].constructor(totalPages); let i = index"
      [class.active]="currentPage === i + 1"
    >
      <button class="page-link" (click)="onChangePage(i + 1)">
        {{ i + 1 }}
      </button>
    </li>

    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <button class="page-link" (click)="onChangePage(currentPage + 1)">
        Suivant
      </button>
    </li>
  </ul>

  <div class="box">
    <p>Showing {{ resultsOnPage }} results of {{ dataLength }}.</p>
  </div>
  <div class="box">
    <select class="form-select" (change)="onChangePageLimit($event.target)">
      <option
        *ngFor="let item of [].constructor(20); let i = index"
        [selected]="i + 1 === pageLimit"
      >
        {{ i + 1 }}
      </option>
    </select>
  </div>
  <div class="box">
    <p>results on page.</p>
  </div>
</nav>
