select,
input {
  width: 70px;
}

.item-per-page {
  text-align: right;
  .box {
    display: inline-block;
    &:not(first-child) {
      padding-left: 10px;
    }
  }
}

.flex {
  margin-top: var(--paginator-margin-top);
  display: flex;
  justify-content: space-between;
}

.flex > * {
  flex: 1;
}

select {
  width: 80px;
}
