:root {
  --header-color: rgb(207, 226, 255);
  --background-color: white;
  --nav: var(--header-color);
  --table-header: var(--header-color);
  --table-row-hover: rgb(234, 255, 235);
  --table-row-selected: rgb(198, 255, 199);
  --icon-padding: 20px;
  --icon-size: 20px;
  --icon-middle-size: 26px;
  --icon-big-size: 30px;
  --paginator-margin-top: 15px;
  --reset-filter-padding: 10px;
}
html,
body {
  background-color: var(--background-color);
}
