:root {
  --header-color: rgb(214, 227, 246);
  --background-color: white;
  --nav: var(--header-color);
  --table-header: var(--header-color);
  --table-row-hover: rgb(247, 250, 255);
  --table-row-selected: rgb(238, 244, 255);
  --icon-size: 20px;
  --icon-middle-size: 26px;
  --icon-big-size: 30px;
  --paginator-margin-top: 15px;
  --reset-filter-padding: 10px;
}
html,
body {
  background-color: var(--background-color);
  margin-bottom: 50px;
}
