.table-row-clickable {
  transition: background-color 0.2s;
}

.header {
  --bs-table-bg: var(--table-header);
}

.table-row-clickable:hover {
  --bs-table-bg: var(--table-row-hover);
}

.selected {
  --bs-table-bg: var(--table-row-selected);
}

.content {
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
}

img {
  cursor: pointer;
  width: var(--icon-size);
  height: var(--icon-size);
}

.header-label {
  padding-left: var(--icon-padding);
  img {
    margin-left: 5px;
  }
}

.order-icon {
  padding: 0 var(--icon-padding);
  img {
    cursor: pointer;
  }
}

.settings {
  text-align: right;
  margin-bottom: var(--reset-filter-padding);
  div {
    display: inline-block;
    &:last-child {
      padding-left: 10px;
    }
  }
}

.add-check {
  margin-left: 5px;
  cursor: pointer;
}
