.row {
  display: flex;
}

.main-table {
  padding: 0;
  flex: 1;
  th {
    max-height: 41px;
  }
}

.icons {
  width: 50px;
  .visible-column-icon {
    margin-top: 2px;
    button {
      padding: 0;
      border: 0;
      background: transparent;
      line-height: 0;
    }
  }
  .reset-filters-icon {
    margin-top: 23px;
  }
}

.table-row-clickable {
  transition: background-color 0.2s;
}

.header {
  --bs-table-bg: var(--table-header);
}

.table-row-clickable:hover {
  --bs-table-bg: var(--table-row-hover);
}

.selected {
  --bs-table-bg: var(--table-row-selected);
}

.content {
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
}

img {
  cursor: pointer;
  &:not(.eye-icon):not(.filter-icon):not(.header-icon) {
    width: var(--icon-size);
    height: var(--icon-size);
  }
  &.header-icon {
    width: var(--icon-middle-size);
    height: var(--icon-middle-size);
  }
  &.filter-icon {
    margin-left: 2px;
    width: var(--icon-middle-size);
    height: var(--icon-middle-size);
  }
  &.eye-icon {
    width: var(--icon-big-size);
    height: var(--icon-big-size);
  }
}

.adjust {
  width: 3px;
}

.header-label {
  display: flex;
  text-align: center;
  margin: 0 5px;
  img {
    margin-left: 5px;
  }
}

.order-icon {
  img {
    cursor: pointer;
  }
}

.hidden {
  margin-top: 2px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.hide {
  margin-top: 2px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.flex:hover .hide {
  opacity: 1;
  pointer-events: auto;
}

.plus-check {
  img.plus-check-hover {
    display: none;
  }
  img:not(.plus-check-hover) {
    display: block;
  }
  &.plus-check:hover {
    cursor: pointer;
    img.plus-check-hover {
      display: block;
    }
    img:not(.plus-check-hover) {
      display: none;
    }
  }
}

.pointer {
  cursor: pointer;
}

.minus-plus {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
