.row {
  display: flex;
}

.main-table {
  padding: 0;
  flex: 1;
}

.icons {
  width: 50px;
  .visible-column-icon {
    margin-top: 7px;
    button {
      padding: 0;
      border: 0;
      background: transparent;
      line-height: 0;
    }
  }
  .reset-filters-icon {
    margin-top: 19px;
  }
}

.table-row-clickable {
  transition: background-color 0.2s;
}

.header {
  --bs-table-bg: var(--table-header);
}

.table-row-clickable:hover {
  --bs-table-bg: var(--table-row-hover);
}

.selected {
  --bs-table-bg: var(--table-row-selected);
}

.content {
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
}

img {
  cursor: pointer;
  &:not(.eye-icon):not(.filter-icon) {
    width: var(--icon-size);
    height: var(--icon-size);
  }
  &.filter-icon {
    margin-left: 2px;
    width: var(--icon-middle-size);
    height: var(--icon-middle-size);
  }
  &.eye-icon {
    width: var(--icon-big-size);
    height: var(--icon-big-size);
  }
}

.header-label {
  img {
    margin-left: 5px;
  }
}

.order-icon {
  img {
    cursor: pointer;
  }
}

.plus-check {
  margin-left: 5px;
  img.plus-check-hover {
    display: none;
  }
  img:not(.plus-check-hover) {
    display: block;
  }
}

.plus-check:hover {
  cursor: pointer;
  img.plus-check-hover {
    display: block;
  }
  img:not(.plus-check-hover) {
    display: none;
  }
}

.minus-check {
  margin: 0 5px;
  cursor: pointer;
}
